*{
	box-sizing: border-box;
}

h1{
	text-align: center;
}

h4{
	margin: 0px;
}

p{
	margin: 0px;
}

.all-menu-items{
	float:left;
	padding: 20px;
}

.each-menu-item{
	border: 3px solid black;
	background: grey;
}

.menu-item-name{
	float: right;
	padding: 5px 20px;
	border: 3px solid black;
	margin-right: -3px;
	margin-top: -3px;
}

.menu-item-details{
	clear: right;
	padding: 5px 10px;
}

#chicken{
	background: peachpuff;
}
#beef{
	background: red;
}
#sushi{
	background: lightyellow;
}

@media (min-width: 992px) {
  .all-menu-items{
  	width:33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .all-menu-items{
  	width:50%;
  }
  .all-menu-items:nth-child(3) {
    width: 100%;
}
}

@media (max-width: 767px) {
  .all-menu-items{
  	width:100%;
  }
}